/* Estilo para la franja azul superior */
.top-bar {
  background-color: #1B2B85;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 20px;
}

.logo {
  height: 60px;
  margin-right: 20px;
}

h1 {
  font-size: 30px;
}

/* Estilo de la secci贸n principal y elementos de acci贸n */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; /* Asegura que el contenido principal comience debajo de la barra superior fija */
}

.action-area {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Espacio entre el bot贸n y cualquier contenido debajo */
}

.start-button {
  background-color: #1B2B85;
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.arrow-text {
  margin: 0 10px; /* Espacio horizontal entre el bot贸n y la imagen */
  font-size: 16px;
  color: #333; /* Color de texto para 'Press this' */
}

.marker-image {
  height: 40px; /* Altura ajustada para la imagen marcar.png */
}
